Please log in with your email and password.
<p></p>

<% if flash[:errors] %>
    <% flash[:errors].each do |error| %>
       <div style="color:red;"><%= error %></div> 
    <% end %>
<% end %>

<%= form_tag "/login", method: :post %>
<%= label_tag :email, "Email" %>
<%= text_field_tag :email %><br>
<%= label_tag :password, "Password" %>
<%= password_field_tag :password %><br>
<%= submit_tag "Login" %>

<br>
<br>

<%= link_to "Create an account", signup_path %>