
<h1><%= @category.name %></h1>

<p>
<% @category.indicators.each do |indicator| %>
    <div id="indicator-<% indicator.id %>" style="width:100%; height:400px;"></div>
    <script> 
        document.addEventListener('DOMContentLoaded', function () {
            Highcharts.setOptions({
    lang: {
        numericSymbols: ['K', 'M', 'B']
    }
});
                var myChart = Highcharts.chart('indicator-<% indicator.id %>', {
                    plotOptions: {
                        bar: {
                            colorByPoint: true,
                            colors: ['red']
                        }
                    },
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: '<%= indicator.name  %>'
                    },
                    xAxis: {
                        // categories: <%= raw indicator.datapoints.map{ |d| d.year} %>
                        categories: <%= raw indicator.datapoints.map{ |d| d.country.name} %>
                    },
                    yAxis: {
                        // type: 'logarithmic',
                        title: {
                            text: 'USD'
                        }
                    },
                    // series: <%= raw indicator.datapoints.map { |d| {name: d.country.name, data: [d.value]} }.to_json%>,
                    series: <%= raw [{ data: indicator.datapoints.map(&:value) }].to_json %>,
                    legend: {
                        enabled: false
                    }
                });
            });
    </script>


    <% if indicator.datapoints.count > 0 %>
        <h2> <%= indicator.name %><br>
        <%= indicator.unit_to_scale %></h2><br>
        <%= indicator.datapoints.first.year %><br>
        <% indicator.datapoints.each do |datapoint| %>
        <li><%= "#{datapoint.country.name} - #{datapoint.value_to_scale.round(2)}" %></li>
        <% end %> 
    <% end %>
<% end %>

