
<h1><%= @category.name %></h1>
<%= link_to("Back to all categories", categories_path)  %>

<p>
<% @category.indicators.each do |indicator| %>
<h2><%= indicator.name %></h2>
    <div id="indicator-<%= indicator.id %>" style="width:100%; height:400px;"></div>
    <script> 
        document.addEventListener('turbolinks:load', function () {
            Highcharts.setOptions({
    lang: {
        numericSymbols: ['K', 'M', 'B']
    }
});
                var myChart = Highcharts.chart('indicator-<%= indicator.id %>', {
                    plotOptions: {
                        bar: {
                            colorByPoint: true,
                            colors: ['#b3c6ff']
                        }
                    },
                    chart: {
                        type: 'bar'
                    },
                    title: {
                        text: '<%= indicator.name  %>'
                    },
                    xAxis: {
                        // categories: <%= raw indicator.datapoints.map{ |d| d.year} %>
                        categories: <%= raw indicator.datapoints.map{ |d| d.country.name} %>
                    },
                    yAxis: {
                        // type: 'logarithmic',
                        title: {
                            text: 'USD'
                        }
                    },
                    // series: <%= raw indicator.datapoints.map { |d| {name: d.country.name, data: [d.value]} }.to_json%>,
                    series: <%= raw [{ data: indicator.datapoints.map(&:value) }].to_json %>,
                    legend: {
                        enabled: false
                    }
                });
            });
    </script>
    <%= link_to("See details and comments for this indicator", indicator_path(indicator)) %>
    <br>
    <br>
    <br>
    <% end %>

