
<h4 class="page-title">&nbsp;</h4>
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-6">
                                    <h3 class="mt-0 mb-2">
                                        <%= @category.name %>
                                    </h3>
                                </div>
                                <% unless @category.indicators.count == 0 %>
                                    <div class="col-6">
                                        <div class="float-right">
                                            <div id="normalizer-buttons" class="btn-group">
                                                <button 
                                                    type="button" 
                                                    id="absolute-button" 
                                                    class="btn btn-dark" 
                                                    onclick="toggleButtonColor('#absolute-button')">
                                                    <%= link_to 'Absolute', category_path(:method_to_use => "value"), :style => 'color:#FFFFFF;', remote: true %> 
                                                </button>
                                                <button 
                                                    type="button" 
                                                    id="gdp-button" 
                                                    class="btn btn-light" 
                                                    onclick="toggleButtonColor('#gdp-button')">
                                                    <%= link_to 'GDP', category_path(:method_to_use => "value_gdp"), :style => 'color:#474d56',  remote: true%>
                                                </button>
                                                <button type="button" id="population-button" class="btn btn-light" onclick="toggleButtonColor('#population-button')"><%= link_to 'Population', category_path(:method_to_use => "value_population"), :style => 'color:#474d56', remote: true%></button>
                                            </div>
                                        </div>
                                    </div>
                                <% end %>
                            </div>
                            <% if @category.indicators.count == 0 %>
                                <div class="row">
                                    <div class="col-3"></div>
                                    <div class="col-md-5">
                                        <div class="card cta-box bg-success text-white">
                                            <div class="card-body">
                                                <div class="media align-items-center">
                                                    <div class="media-body">
                                                        <h2 class="mt-0"><i class="mdi mdi-bullhorn-outline"></i>&nbsp;</h2>
                                                        <h3 class="m-0 font-weight-normal cta-box-title">Suggest an <b>indicator</b> for <%= @category.name %> <i class="mdi mdi-arrow-right"></i></h3>
                                                    </div>
                                                    <img class="ml-3" src="/images/email-campaign.svg" width="120" alt="Generic placeholder image">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <% end %>
                            <div id="category-partial"></div>
                            <div id="category-partial-initial"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid-structure">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mt-0 mb-3">Comments <%= "(#{@comments.count})" %></h4>
                                <%= form_for @comment do |f| %>
                                    <%= f.hidden_field :user_id, value: current_user.id %>
                                    <%= f.hidden_field :category_id, value: @category.id %>
                                    <%= f.text_area :content, class: "form-control form-control-light mb-2", placeholder: "Write message", rows: "3" %>
                                    <div class="text-right">
                                    <div class="btn-group mb-2">
                                        <!-- <button type="button" class="btn btn-link btn-sm text-muted font-18">
                                            <i class="dripicons-paperclip"></i>
                                        </button> -->
                                        </div>
                                        <div class="btn-group mb-2 ml-2">
                                            <%= f.submit "Comment", class: "btn btn-primary btn-sm" %>
                                        </div>
                                    </div>
                                <% end %>

                                <% @comments.each do |comment| %>
                                    <div class="media mt-2">
                                    <% if false %>
                                        <img class="mr-3 avatar-sm rounded-circle" src="/images/users/avatar-3.jpg"
                                            alt="Generic placeholder image">
                                    <% else %>
                                        <div class="avatar-sm mr-3">
                                            <span class="rounded-circle avatar-title bg-secondary-lighten text-secondary font-20 rounded-circle">
                                                <%= comment.user.first_name[0] + comment.user.last_name[0] %>
                                            </span>
                                        </div>
                                    <% end %>
                                        <div class="media-body">
                                            <h5 class="mt-0"><%= comment.user.alias %></h5>
                                            <%= comment.content %>
                                        </div>
                                        <%= link_to raw("<i class=\"mdi mdi-trash-can-outline\"></i>"), comment_path(comment), class: "btn btn-light", method: :delete if comment.user == current_user%>
                                    </div>
                                    <hr>
                                <% end %>
                                <!-- <div class="text-center mt-2">
                                    <a href="javascript:void(0);" class="text-danger">Load more </a>
                                </div> -->
                            </div> <!-- end card-body-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>     

<script>

    var toggleButtonColor = (buttonId) => {
        const buttons = [...document.querySelector('#normalizer-buttons').children]
        const buttonToToggleOn = document.querySelector(buttonId)
        buttons.forEach(button => {
            button.className = "btn btn-light"
            const aTagAroo = button.children[0]
            aTagAroo.style.color = "#474d56"
        })

        buttonToToggleOn.className = "btn btn-dark"
        buttonToToggleOn.children[0].style.color = "#FFFFFF"

    }

    var barChartSingleYear = (chartContainer, datapoints, countries) => {
        var colors = ["#39afd1"];
        var dataColors = $(chartContainer).data('colors');
        if (dataColors) {
            colors = dataColors.split(",");
        }
        var options = {
                                
            chart: {
                height: 300,
                type: 'bar',
                toolbar: {
                    show: false
                }
            },
            plotOptions: {
                bar: {
                    horizontal: true,
                    distributed: true
                }
            },
            dataLabels: {
                enabled: false
            },
            series: [{
                name: "USD",
                data: datapoints
            }],
            colors: colors,
            yaxis: {
                axisBorder: {
                    show: true
                }
            },
            xaxis: {
                axisBorder: {
                    show: false
                },
                    axisTicks: {
                    show: false
                },
                labels: {
                    show: false
                },
                categories: countries
            },
            states: {
                hover: {
                    filter: 'none'
                }
            },
            grid: {
                borderColor: '#f1f3fa',
                    yaxis: {
                    lines: {
                        show: false
                    }
                },  
            },
            legend: {
                show: false,
                shape: "circle",
            }
        }

        var chart = new ApexCharts(
            chartContainer,
            options
        );

        chart.render();
    
    }

    var lineChartHistorical = (chartContainer, seriesData, dates) => {
        var colors = ["#ffbc00"];
        var dataColors = $(chartContainer).data('colors');
        if (dataColors) {
            colors = dataColors.split(",");
        }
        var options = {
            chart: {
                height: 300,
                type: 'line',
                zoom: {
                    enabled: false
                },
                toolbar: {
                    show: false
                },
                animations: {
                enabled: true,
                easing: 'easeinout',
                speed: 800,
                animateGradually: {
                    enabled: true,
                    delay: 150
                },
                dynamicAnimation: {
                    enabled: true,
                    speed: 350
                }
            }
            },
            dataLabels: {
                enabled: false
            },
            colors: colors,
            stroke: {
                width: 2,
                curve: 'smooth'
                
            },
            series: seriesData,
            grid: {
                yaxis: {
                    lines: {
                        show: false
                    }
                },
                xaxis: {
                    lines: {
                        show: false
                    }
                },
                row: {
                    colors: ['transparent', 'transparent'], // takes an array which will be repeated on columns
                    opacity: 0.2
                },
                borderColor: '#f1f3fa',
            },
            xaxis: {
                axisBorder: {
                    show: false
                },
                categories: dates,
            },
            yaxis: {
                show: false,
                axisBorder: {
                    show: false
                },
            },
            legend: {
                show: false,
                showForNullSeries: false,
            }
        }

        var chart = new ApexCharts(
            chartContainer,
            options
        );
        chart.render();
    }

    $(function () {
        $("#category-partial-initial").html("<%= escape_javascript(render partial: 'categories/show', locals: { category: @category, method_to_use: @method_to_use } ) %>");
    });
</script>