<!DOCTYPE html>
<html>
  <head>
    <title>Digital Innovation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://code.highcharts.com/highcharts.js"></script>
  </head>

  <body>
  <div style="float:right;">
  <% if current_user %>
  <%= "Logged in as #{current_user.full_name}" %>
  <%= button_to "Log out", logout_path %>
  <% else %>
  <%=  link_to "Sign up", signup_path %>
  <%= link_to "Log in", login_path %>
  <% end %>
  </div>
    <%= yield %>
  </body>
</html>
